.bg1 {
    background: rgba(255, 255, 255, 0.05);
}

.bg2 {
    background: rgba(255, 255, 255, 0.1);
}
.bg3 {
    background: rgba(255, 255, 255, 0.15);
}
.bg4 {
    background: rgba(255, 255, 255, 0.2);
}
