.blurred_bg.blur10 {
    backdrop-filter: blur(10px);
}
.blurred_bg.blur20 {
    backdrop-filter: blur(20px);
}
.blurred_bg.blur30 {
    backdrop-filter: blur(30px);
}
.blurred_bg.blur40 {
    backdrop-filter: blur(40px);
}


.bg1 {
    background: rgba(255, 255, 255, 0.05);
}

.bg2 {
    background: rgba(255, 255, 255, 0.1);
}
.bg3 {
    background: rgba(255, 255, 255, 0.15);
}
.bg4 {
    background: rgba(255, 255, 255, 0.2);
}
